<h2>Search Chefs</h2>
<form action="/chefs" method="GET">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>">
  <button type="submit">Search</button>
</form>
<br>
<% chefs.forEach(chef => { %>
  <div><%= chef.name %></div>
  <a href="/chefs/<%= chef.id %>">View</a>
  <a href="/chefs/<%= chef.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm',
              { url: `/chefs/${chef.id}` }) %>
<% }) %>